amqp==5.3.1
asgiref==3.8.1
beautifulsoup4==4.13.3
billiard==4.2.1
celery==5.4.0
chardet==5.2.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
crispy-tailwind==1.0.3
cron-descriptor==1.4.5
diff-match-patch==20241021
Django==5.1.6
django-appconf==1.0.6
django-celery-beat==2.7.0
django-ckeditor-5==0.2.17
django-compressor==4.5.1
django-crispy-forms==2.3
django-import-export==4.2.1
django-jazzmin==3.0.1
django-js-asset==2.2.0
django-phonenumber-field==8.0.0
django-timezone-field==7.1
django-widget-tweaks==1.5.0
dnspython==2.7.0
eventlet==0.39.0
greenlet==3.1.1
kombu==5.4.2
lxml==5.3.1
phonenumbers==8.13.54
pillow==11.0.0
prompt_toolkit==3.0.50
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
rcssmin==1.1.2
redis==5.2.1
reportlab==4.3.1
rjsmin==1.2.2
six==1.17.0
soupsieve==2.6
sqlparse==0.5.2
sweetify==2.3.1
tablib==3.7.0
typing_extensions==4.12.2
tzdata==2024.2
vine==5.1.0
wcwidth==0.2.13
