{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-white shadow-xl rounded-lg p-8 transform transition-all duration-500 ease-in-out hover:scale-105">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-teal-500 mb-4 transition-all duration-300 ease-in-out">
                <svg class="h-8 w-8 inline-block mr-2 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
               </svg>
                Password Reset Completed
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                You can now click on the link below to login with your new password.
            </p>
        </div>

        <div class="mt-6 text-center">
           <a href="{% url 'account:login' %}" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gradient-to-r from-green-500 to-teal-500 hover:from-teal-500 hover:to-green-500  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-400 transition duration-500 ease-in-out transform hover:scale-105">
                  <svg class="h-5 w-5 inline-block mr-2  transition ease-in-out duration-150" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                 </svg>
                Back to Login
            </a>
        </div>
    </div>
</div>
{% endblock %}