{% extends "admin/change_form.html" %}
{% load i18n static admin_urls %}

{% block submit_buttons_top %}
  {{ block.super }}
  <a href="{% url 'admin:blog_post_add_fullscreen' %}"
     class="button"
     style="margin-left:8px;background:#111827;color:#fff;">
    {% trans "Write content in fullscreen" %}
  </a>
{% endblock %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  <a href="{% url 'admin:blog_post_add_fullscreen' %}"
     class="button"
     style="margin-left:8px;background:#111827;color:#fff;">
    {% trans "Write content in fullscreen" %}
  </a>
{% endblock %}


